@import "tailwindcss";

@theme {
  --color-primary: #1B2E4B;
  --color-secondary: #C9A84C;
  --color-accent: #F5F0E8;
  --color-dark: #0F1E30;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F5F0E8;
  color: #1B2E4B;
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;

}